contract-service-soap/src/main/resources/wsdl/contract-service.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:tns="http://contracts.de/contracts"
  targetNamespace="http://contracts.de/contracts">

  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://contracts.de/contracts">

    <xs:element name="calculateContractRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="contract" type="tns:contract"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="calculateContractResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="contract" type="tns:contract"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="contract">
        <xs:sequence>
            <xs:element name="id" type="xs:string"/>
            <xs:element name="client" type="tns:client" maxOccurs="unbounded"/>
            <xs:element name="premium" type="xs:double"/>
            <xs:element name="type" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name = "client">
        <xs:sequence>
            <xs:element name="name" type="tns:name"/>
            <xs:element name="city" type="xs:string"/>
            <xs:element name="country" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name = "name">
        <xs:sequence>
            <xs:element name="firstname" type="xs:string"/>
            <xs:element name="lastname" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    </xs:schema>
  </wsdl:types>

  <wsdl:message name="calculateContractRequest">
    <wsdl:part element="tns:calculateContractRequest" name="calculateContractRequest">
    </wsdl:part>
  </wsdl:message>

  <wsdl:message name="calculateContractResponse">
    <wsdl:part element="tns:calculateContractResponse" name="calculateContractResponse">
    </wsdl:part>
  </wsdl:message>

  <wsdl:portType name="ContractsPort">
    <wsdl:operation name="calculateContract">
      <wsdl:input message="tns:calculateContractRequest" name="calculateContractRequest">
    </wsdl:input>
      <wsdl:output message="tns:calculateContractResponse" name="calculateContractResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="ContractsPortSoap" type="tns:ContractsPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="calculateContract">
      <soap:operation soapAction=""/>
      <wsdl:input name="calculateContractRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="calculateContractResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="ContractsPortService">
    <wsdl:port binding="tns:ContractsPortSoap" name="ContractsPortSoap">
      <soap:address location="http://localhost:8080/ws"/>
    </wsdl:port>
  </wsdl:service>

</wsdl:definitions>
